.logo_title {padding-right: 80px;}
.mtr_main{background: #f1f4f6;height: calc(100% - 40px);width: calc(100% - 420px);position: relative;flex: 1;flex-direction: column;display: flex;overflow: auto; float:right;}
.mtr_main .mtr_main__inner {padding: 20px 20px 0;flex: 1;}
.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -10px;margin-left: -10px;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {position: relative;width: 100%;min-height: 1px;padding-right: 10px;padding-left: 10px;}
.mtr_card {position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(26,54,126,0.125);border-radius: .25rem;box-shadow: 0 0.4rem 2rem rgba(4,9,20,0.03), 0 0.9rem 0.40625rem rgba(4,9,20,0.03), 0 0.2rem 0.5rem rgba(4,9,20,0.05), 0 0.125rem 0.1em rgba(4,9,20,0.03);border-width: 0;transition: all .2s;    /*min-height: calc(100% - 20px);*/}
.mtr_card .mtr_card__header {background-color: rgba(0,0,0,.03);border-bottom: 1px solid #dfdfdf;height: 35px;}
.mtr_card .mtr_card__body {display: flex;min-height: 100px;}
.mtr_card .mtr_card__header .mtr_card__title, .mtr_card__title{line-height: 35px;padding-left: 10px;font-size: 14px;color: #3F51B5;font-weight: bold;float: left;}
.mtr_card .mtr_card__header .mtr_card__sub_title{line-height: 35px;padding-left: 10px;font-size: 13px;color: #8e8787;font-weight: bold;float: left;}
.mtr_mb_10{margin-bottom: 10px;}
.mtr_mb_20{margin-bottom: 20px;}
.mtr_card__doc_left{width: 500px; max-height:100%;background-color: #fff;border-right: 1px solid #dfdfdf;float:left;height:auto;}
.mtr_card__doc_right{width: calc(100% - 500px); height:auto;float: left;}
.mtr_card__indicator{position: absolute;width: 4px;height: 40px;border-radius: .3rem;left: 10px;top: 15px;opacity: .6;transition: opacity .2s;background: #d1d1d1;}
.mtr_card__doc_left_inner{padding: .5rem!important;overflow: auto;width: 100%; height: 400px;}
.mtr_card__list_group{display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;padding-left: 0;margin-bottom: 0;}
.mtr_card__list_group_item {position: relative;display: block;background-color: #fff;border-bottom: 1px solid #dfdfdf;height: 70px;padding: 10px 10px 10px 25px;border-right: 0;border-left: 0;border-radius: 0;-webkit-border-bottom-left-radius: .125rem;border-bottom-left-radius: .125rem;-webkit-border-bottom-right-radius: .125rem;border-bottom-right-radius: .125rem;}
.mtr_card__list_group_item.active{background-color: #dae8f1;}
.mtr_card__list_group_item:first-child {border-top: 0;}
.mtr_card__list_group_item:last-child {border-bottom: 0;}
.mtr_card__widget_heading {opacity: .8;font-weight: bold;line-height: 1.5;color: #343a40;white-space: nowrap;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow:hidden;font-size: 13px;width: calc(100% - 78px);float:left;}
.mtr_card__widget_subheading {margin-top: 10px;position: relative;white-space: nowrap;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;font-size: 12px;opacity: 0.5;font-style: italic;width: calc(100% - 75px);float:left;}
.mtr_card__widget_sn{float:left;height: 100%;width: 25px;line-height: 40px;font-weight: bold;color: #8e8787; opacity:.5;}
.mtr_card__widget_content{float: left;width: 100%;height: 100%;position: relative;}
.mtr_card__widget_desc{float:left;height: 100%; width: calc(100% - 25px);position: relative;}
.mtr_card__doc_right_top{float: left;width: 100%;height: 70px;border-bottom: 1px solid #dfdfdf;}
.mtr_card__doc_right_btm{height: calc(100% - 70px);position: relative;width: 100%;float: left;padding: 10px 10px;overflow: hidden;}
.mtr_card__doc_right_top_b{float: left;width: 33.3%;height: 100%;border-right: 1px solid #dfdfdf;}
.mtr_card__doc_right_top_b:last-child{width:33.4%;}
.mtr_card__doc_right_txt{line-height: 30px;padding-left: 10px;float: left;opacity: .8;font-weight: bold;color: #495057;font-size: 13px;}
.mtr_card__doc_right_bar{float: left;clear: both;width: 100%;height: 40px;padding: 0px 10px;}
.mtr_card__doc_right_cnt{font-weight: bold;font-size: 22px;display: block;float: right;margin-right: 10px;line-height: 30px;}
.mtr_card__doc_lbl{opacity: .5;width: 100%;margin-top: 6px;}
.progress {height: 10px;position: relative;transition: width 0.6s ease;}
.grid_div_doc {border: 1px solid #dfdfdf;}
.hdr_cntr {text-align: center !important;font-weight: 500;color: #333;background: #ffffff;font-size: 12px;border-color: #e4e4e4;}
.hdr_cntr input[type="text"].ui-grid-filter-input {border: 1px solid #e4e4e4;}
.hdr_cntr input[type="text"].ui-grid-filter-input:focus {border: 1px solid #42a5f5;outline: none;}
.hdr_cntr .ui-grid-invisible, .hdr_act .ui-grid-invisible {display: none;}
.ui-grid-cell-contents:focus {outline: none;}
.highcharts-credits{display: none !important;}
.highcharts-root{font-family: 'Roboto', sans-serif !important;}
.progress-bar {position: relative;}
.progress-bar-animated-alt.progress-bar::after, .progress-bar-animated-alt .progress-bar::after {content: '';opacity: 0;position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: #fff;animation: progress-active 2s ease infinite;}
@keyframes progress-active{0%{opacity:.4;width:0}100%{opacity:0;width:100%}}
.mtr_card__widget_rgt{float: left; height: 100%;width: 100px;position: relative;text-align: center;}
.mtr_card__widget_rgt_cnt{float: left;font-size: 30px;line-height: 40px;color: #8bc8f9;width: calc(100% - 20px);text-align: right;}
.mtr_card__widget_rgt_arw{float: left;font-size: 16px;line-height: 40px;color: #8bc8f9;width: 20px;}

.ts_box{position: relative;width: 100%;height: 100%;}
.ts_box_menu{width: 420px;display: flex;z-index: 11;overflow: hidden;min-width: 280px;flex: 0 0 280px;margin-top: -40px;padding-top: 40px;transition: all .2s;position: fixed;height: 100vh;box-shadow: 7px 0 60px rgba(0,0,0,0.05);background: #fff;}

@media screen and (max-width: 767px) {
	.mtr_card .mtr_card__body {display: block;min-height: 100px;}
	.mtr_card__doc_left {width: 100%;max-height: 100%;border-right: 0px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;}
	.mtr_card__doc_right {width: 100%;height: auto;float: left;}
}

.app-sidebar .app-sidebar__inner {padding: 2px 15px 20px;z-index: 15;width: 100%;}
.vertical-nav-menu {margin: 0;padding: 0;position: relative;list-style: none;float: left;width: calc(100%);}
.app-sidebar__heading {font-size: .8rem;margin: .75rem 0;font-weight: bold;color: #3f6ad8;white-space: nowrap;position: relative;}
.vertical-nav-menu li a {display: block;line-height: 2.4rem;height: 2.4rem;padding: 0 10px 0 45px;position: relative;border-radius: .25rem;color: #343a40;white-space: nowrap;transition: all .2s;margin: .1rem 0;white-space: nowrap;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;}
.vertical-nav-menu li a:hover{background: #dae8f1;}
.vertical-nav-menu li a.active{font-weight: bold;background: #dae8f1;}
.vertical-nav-menu i.metismenu-state-icon, .vertical-nav-menu i.metismenu-icon {text-align: center;width: 34px;height: 50px;line-height: 50px;position: relative;font-size: 1.5rem;opacity: .3;transition: color 300ms;float: left;margin-right: 15px;}

.hamburger {padding: 0px 0px;display: inline-block;cursor: pointer;transition-property: opacity, filter;transition-duration: 0.15s;transition-timing-function: linear;font: inherit;color: inherit;text-transform: none;background-color: transparent;border: 0;margin: 0;overflow: visible;}
.hamburger_full_box{margin-left: 5px;margin-top: 13px;}
.hamburger-box {width: 24px;height: 14px;display: inline-block;position: relative;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {width: 24px;height: 2px;background-color: #3f6ad8;background-color: #000000;border-radius: 10px;position: absolute;transition-property: transform;transition-duration: 0.15s;transition-timing-function: ease;}
.hamburger--elastic .hamburger-inner {top: 1px;transition-duration: 0.275s;transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.hamburger-inner::before, .hamburger-inner::after {content: "";display: block;}
.hamburger-inner::before {top: -6px;}
.hamburger--elastic .hamburger-inner::before {top: 6px;transition: opacity 0.125s 0.275s ease;}
.hamburger-inner::after {bottom: -6px;}
.hamburger--elastic .hamburger-inner::after {top: 12px;transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.hamburger--elastic.is-active .hamburger-inner {transform: translate3d(0, 6px, 0) rotate(135deg);transition-delay: 0.075s;}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {background-color: #3f6ad8;background-color: #000000;}
.hamburger--elastic.is-active .hamburger-inner::before {transition-delay: 0s;opacity: 0;}
.hamburger--elastic.is-active .hamburger-inner::after {transform: translate3d(0, -12px, 0) rotate(-270deg);transition-delay: 0.075s;}


.closed-sidebar .app-sidebar {transition: all .3s ease;width: 80px;min-width: 80px;flex: 0 0 80px;z-index: 13;}
.closed-sidebar .app-sidebar .app-sidebar__inner .app-sidebar__heading {text-indent: -999em;}
.closed-sidebar .app-sidebar .app-sidebar__inner ul li a {text-indent: -99rem;padding: 0;}
.closed-sidebar .app-sidebar .app-sidebar__inner .metismenu-icon {text-indent: 0;left: 50%;margin-left: -17px;}
.mtr_main.closed-sidebar {width: calc(100% - 80px);}
.closed-sidebar .app-sidebar:hover {flex: 0 0 280px !important;width: 280px !important;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner .app-sidebar__heading {text-indent: initial;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul li a {text-indent: initial;padding: 0 1.5rem 0 45px;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner .metismenu-icon {text-indent: initial;left: 5px;margin-left: 0;}
.closed-sidebar .logo_title {transition: all .3s ease;padding: 0;display:none;}

.header-icon.inr {height: 34px;line-height: 35px;}
.mtr_card__widget_heading a{color: #495057;}
.mtr_card__widget_heading a:hover{color: ##007bff;}

.row_col_grid_cell {position: relative;color: #333;padding: 0px;line-height: 35px;padding-left: 10px;font-size: 12px;font-weight: normal;padding-right: 3px;}
.ui-grid-cell, [ui-grid-group-columns] .ui-grid-cell {overflow: hidden;float: left;background-color: inherit;border: none;border-right: 1px solid;border-color: #e4e4e4;box-sizing: border-box;border-bottom: 1px solid #e4e4e4;}
.ui-grid-row:nth-child(even) .ui-grid-cell {background-color: #fff !important;}
.ui-grid-row:nth-child(odd):hover .ui-grid-cell{background: #dae8f1 !important;}
.ui-grid-row:nth-child(even):hover .ui-grid-cell{background: #dae8f1 !important;}
.ui-grid-row:nth-child(odd):hover .ui-grid-cell .row_col_grid_cell{font-weight:bold !important;}
.ui-grid-row:nth-child(even):hover .ui-grid-cell .row_col_grid_cell{font-weight:bold !important;}
/*.mtr_main__inner_row{min-height: calc(50% - 10px);}*/

.vertical-nav-menu ul:before {content: '';height: 100%;opacity: 1;width: 3px;background: #e0f3ff;position: absolute;left: 20px;top: 0;border-radius: 15px;}
.vertical-nav-menu ul {margin: 0;padding: 0;position: relative;list-style: none;}
.vertical-nav-menu ul {transition: padding 300ms;padding: .5em 0 0 2rem;}
.vertical-nav-menu ul>li>a {color: #6c757d;height: 2rem;line-height: 2rem;padding: 0 1rem 0;}
.vertical-nav-menu ul>li>a.mm-active {color: #3f6ad8;background: #dae8f1;font-weight: bold;}
.closed-sidebar .app-sidebar .app-sidebar__inner ul.mm-show {padding: 0;}
.vertical-nav-menu ul {transition: padding 300ms;padding: .5em 0 0 2rem;}
.closed-sidebar .app-sidebar .app-sidebar__inner ul li a {text-indent: -99rem;padding: 0;}
.closed-sidebar .app-sidebar .app-sidebar__inner ul.mm-show>li>a {height: 0;}
.closed-sidebar .app-sidebar .app-sidebar__inner ul.mm-show>li ul.mm-show>li>a{height: 0;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show {padding: .5em 0 0 2rem;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show ul.mm-show{padding: .5em 0 0 2rem;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul::before {display: block;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul ul::before{display: block;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul li a {text-indent: initial;padding: 0 1.5rem 0 45px;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul ul li a {padding-left: 1em;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show>li>a {height: 2.3em;}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show>li ul.mm-show>li>a {height: 2.3em;}
.metismenu-icon_span{float: right;padding: 0px 5px;margin-right: -5px;/*height: auto;line-height: 25px;margin-top: 3px;background: inherit;border-radius: 50px;cursor: pointer;*/}
.metismenu-icon_span i {}
.mtr_main__sb_sec{margin: 10px 10px;flex: 1;overflow: hidden;border-radius: .25rem;border: 1px solid rgba(26,54,126,0.125);}

.mtr_disable_btn {cursor: not-allowed !important;pointer-events: none;opacity: .5;/*color: #944b4b !important;*/}

.mtr_main__sb_sec_tabs{width:100%; float:left; height:30px;background:#efefef;border-bottom: 1px solid rgba(26,54,126,0.125);}
.mtr_main__sb_sec_tab{float: left;width: auto;line-height: 30px;padding: 0px 15px;color: black;cursor: pointer;}
.mtr_main__sb_sec_tab.active{background: #fdd29a;font-weight: bold;}

.mtr_main__sb_sec_frame{width:100%; float:left; height:calc(100% - 30px);}
.ui-grid-row.ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {background-color: #fff;}
.mtr_main__sb_sec_doc{float: left;line-height: 30px;padding: 0px 10px;}

.hdr_title_sec{width: auto; max-width: 500px;text-align: left;height: 40px;display: block;margin: 0px auto;line-height: 42px;margin-left: 20px;font-weight: 500;color: #596061 !important;float: left;white-space: nowrap; -ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;}

.disable_btn {cursor: not-allowed !important;pointer-events: none;opacity: .5;}
.btn-indigo {background-color: #8a94c7!important;color: #fff!important;}
.clgbbi {display: block;float: left;margin: 6px 0px;position: absolute;right: 5px;color: #3f6ad8;font-size: 16px;}
.inpt_src_sec{float: left;width: 100%;height: 50px;}
.clg_p{width: 100%;padding: 16px;float: left;max-height: 100%;overflow: auto;}
.clgh_p{margin: 0;padding: 0;margin-bottom: 16px;font-size: 19px;font-weight: 400;color: #3f6ad8;margin-top: 8px;margin-bottom: 16px;white-space: nowrap;overflow: hidden;}
.clgh_p:after {margin-left: 24px;content: '';display: inline-block;vertical-align: middle;width: 100%;height: 1px;background: linear-gradient(to right,rgba(116, 95, 181, 0.2),rgba(0, 0, 0, 0.05) 80%);}
.clgb_p{float: left;width: 100%;background: #fff;box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);border-radius: 2px;border: 1px solid rgba(187, 187, 187, 0.35);overflow: hidden;overflow-x: auto;border-top: 0px;margin: 0;padding: 16px;}
.clgbbi_p {width: 12px;height: 12px;background: #77dab2;border-radius: 50%;margin: 0px 3px;margin-top: 14px;}
.clgbbi_p.in_act {background: #e97d75;}
.clgbb_p{width: 100%;float: left;line-height: 30px;overflow: hidden;display: flex;padding-right: 15px;margin-bottom: 6px;}
.clgbb_p.edit{margin-bottom: 10px;}
.clgbbn_p{float: left;line-height: 38px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 200px;text-transform: capitalize;user-select: none;}
.clgbbt_p{color: #745fb5;text-decoration: none;display: block;white-space: nowrap;float: left;text-overflow: ellipsis;overflow: hidden;width: calc(100% - 100px);font-family: cousine,sfmono-regular,Consolas,Menlo,liberation mono,ubuntu mono,Courier,monospace;font-weight: bold;letter-spacing: .03em;}
.sl_cip{margin: 2px;width: calc(100% - 10px);padding: 2px 6px;height: 34px;font-size: 12px;}
.clgbbt_pfa{font-size: 16px;color: #745fb5;margin-left: 3px;cursor: pointer;width: 20px;line-height: 38px;}
.header-icon.c_btn{border: 1px solid #bbc7d0;height: 23px;line-height: 18px;margin: 0px 10px;margin-top: 10px;border-radius: 3px;background: #efeff5;}
.header-icon.c_btn.btn_act{border: 1px solid #4CAF50;background: #d7ffd8;}
code {font-family: cousine,sfmono-regular,Consolas,Menlo,liberation mono,ubuntu mono,Courier,monospace;letter-spacing: .03em;color: #345;font-size: 12px;}
/**************checkbox Start******************************/
.demo_check:before{content:"\e83f";width:22px;height:22px;display:inline-block;border:2px solid #e9eaec;border-radius:3px;font-size:15px;font-family:feather;font-weight:400;line-height:12px;vertical-align:bottom;text-align:center;background:#fff;color:transparent;cursor:pointer;transition:all .2s ease-in-out;position:absolute;left:0;top:3px;z-index:1;opacity:0;content:"\e840";font-size:15px;background:0;}
.demo_check{margin-top: 10px;min-height:auto;position:relative;width:20px;height:20px;}
.demo_check:after{content:"";width:14.5px;height:14.5px;display:inline-block;margin-right:10px;border:2px solid #c1c1c2;border-radius:2px;vertical-align:bottom;text-align:center;background:0;cursor:pointer;transition:all .2s ease-in-out;position:absolute;top:3px;left:3px;z-index:1;}
.demo_check.active:before{opacity:1;color:#33b5e5;background:0;border-color:transparent;}
.demo_check.active:after{opacity:0;}
/***************checkbox end*****************************/
.form-control:focus {color: #495057;background-color: #fff;border-color: transparent;outline: 0;box-shadow: 0 0 0 0.1rem rgba(149, 180, 206, 0.6) !important; -webkit-box-shadow:  0 0 0 0.1rem rgba(149, 180, 206, 0.6) !important;}
.form-control.disabled, .form-control[readonly] {background-color: #e9ecef;opacity: 1;}
input:-internal-autofill-selected {background-color: #fff !important;background-image: none !important;color: rgb(0, 0, 0) !important;}
.menu_sec_btn {padding: 5px 15px !important;}
.mtr_card__tab_f{float:left; width: auto;}
.mtr_card__tab{float:left;padding: 0px 10px;line-height: 39px;-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.mtr_card__tab.active{background: #84a6c3 !important;font-size: 13px;box-shadow: 0px 0px 2px #8ca1ad;color: #fff !important;}
.btn_nrml_sec {color: #7ea0bc;border: 2px solid #b3c0c4;padding: 4px 15px !important;box-shadow: none;}
.btn_nrml_sec.active_k{color: #ffffff;background: #3f6ad8;}
.fnt_icn_srch{width: 23px;text-align: center;height: 23px;line-height: 21px;color: #171717;font-size: 11px;border-radius: 3px;margin-top: 8px;margin-right: 6px;border: 1px solid #80a2bf;background: #eef6fc;}
.fnt_icn_list{position: absolute;bottom: 0px;height: 50%;width: 100%;background: #fff;z-index: 8;box-shadow: 0px -3px 5px rgb(228, 228, 228);border-top: 1px solid #e5e5e5;}
.fnt_icn_list_hdr{background-color: rgba(0,0,0,.0);border-bottom: 1px solid #dfdfdf;width: 100%;height: 35px;float: left;}
.fnt_icn_list_btm{width: 100%;height: calc(100% - 35px);float: left;overflow: auto;}
.fnt_icn_list_cls{width: 35px;line-height: 35px;text-align: center;color: #F44336;font-size: 26px;border-left: 1px solid #dfdfdf;}
.fnt_icns{width: 100px;float: left;background-color: #fff;height: 100px;padding: 10px;border-right: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;text-align: center;font-size: 10px;cursor: pointer;}
.fnt_icn_bx{font-size: 30px;color: #343a40;}
.fnt_icn_txt{color: #797979;margin-top: 10px;}
.fnt_icns.active{background: #dae8f1;font-weight: 500;}
.fnt_icns.active .fnt_icn_bx{color:#3f6ad8;}
.filter_input{height:28px;padding:2px 12px;border-radius: 0px;margin-right:3px;font-size:13px;border-bottom:2px solid #eaeaea!important;border:0;margin:-2px 7px;}
.filter_input::placeholder{color:#bbd3e8;}
.filter_input:focus{box-shadow:none !important;border-bottom: 2px solid #95b4ce!important;}
.filter_input{width: 200px;margin-left: 20px;float: left;padding-left: 6px;margin-top: 2px;}
.clgbbi_handle{float: left;height: 100%;width: 20px;text-align: right;line-height: 49px;font-size: 16px;cursor: move;color: #6a6a6a;}
.clgbbi_handle_act {width: calc(100% - 20px);}
[draggable] {-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;-khtml-user-drag: element;-webkit-user-drag: element;}
.mtr_card__list_group_item.over{border: 2px dashed #81a2bf;}
