<div id="alert_section">
    <div id="alert_box">
            <div class="alert_text"></div>
            <div class="alert_close" ng-click="tas_alert_section_close()">&times;</div>
    </div>
</div>

<div class="prog_bar ng-hide" ng-show="ps">
     <!--div class="load">
	  <div class="lds-hourglass"></div>
	  </div-->
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
</div>

